* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("../dist/restaurant.jpg");
    background-size: no-repeat;
    padding-top: 15px;
}
#content {
    width: 70%;
    background-color: white;
    opacity: 70%;
    display: flex;
    justify-content: center;
    height: 950px;
    
}

.navbar {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: gray;
    opacity: 80%;
}

.home, 
.menu, 
.contact {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
}