@font-face {
    font-family:'Indie';
    src: url(indie.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../dist/restaurant.jpg");
    background-size: no-repeat;
    padding-top: 15px;
}
#content {
    padding-top: 60px;
    width: 70%;
    background-color: white;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    gap: 30px;
}

.navbar {
    width: 70%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    background-color: gray;
    opacity: 80%;
}

.home, 
.menu, 
.contact {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

.description { 
    height: 200px;
    width: 80%;
    font-size: 25px;
    font-family: 'Indie';
}

.home:hover,
.menu:hover,
.contact:hover {
    cursor: pointer;
    background-color: rgb(90, 90, 90);
}

.food {
    height: 20%;
    width: 80%;
    font-size: 25px;
    display: flex;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.food_image {
    height: 190px;
    width: 190px;
}

.foodDescription {
    height: 200px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    gap: 0px;
    
}

.foodPrice {
    font-size: 40px;
    height: 1em;
    width: 1em;
    margin-top: 10px;
}

.foodAbout {
    height: 140px;
    width: 90%;
    font-size: 20px;
    font-family: 'Indie';
}

.firstContact {
    width: 80%;
    height: 200px;
    
}