@font-face {
    font-family:'Indie';
    src: url(indie.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../dist/restaurant.jpg");
    background-size: no-repeat;
    padding-top: 15px;
}
#content {
    padding-top: 40px;
    width: 70%;
    background-color: white;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    
}

.navbar {
    width: 70%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    background-color: gray;
    opacity: 80%;
}

.home, 
.menu, 
.contact {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

.description {
    
    height: 200px;
    width: 80%;
    font-size: 25px;
    font-family: 'Indie';
}